@import 'variables';

/* Tablets */
@media (min-width: 768px) {

    .header {
        padding: 0 60px;
    }


    .main {
        padding: 0 60px;
    }

    .about-me__blocks {
        padding: 12px 20px 9px 20px;
        margin-bottom: 15px;
        line-height: 25px;
        margin-right: 15px;
        font-size: 16px;
        border-radius: 26px;
    }


    .my-work__figure-img--small {
        max-width: 560px;
        height: auto;
    }

    .footer {
        padding: 0 60px;
    }


    .contacts__text {
        width: 500px;
        margin-bottom: 70px;
    }



    // .about-me__features-list::before {
    //     height: 115px;
    //     background-size: 45px 115px;
    // }






}