/* Tablets */
@media (min-width: 768px) {
    .header__wrapper {
        padding: 35px 30px 45px 30px;
    }

    .header__menu-button {
        width: 30px;
        height: 15px;
    }

    .header__menu-button::before {
        width: 30px;
        height: 2px;
    }

    .header__menu-button::after {
        width: 30px;
        height: 2px;
    }



    // .about-me__text--desktop {
    //     display: block;
    //     padding-bottom: 30px;
    //     margin: 0;
    //     font-size: 24px;
    //     line-height: 1.2;
    //     font-weight: 600;
    // }

    .about-me {
        padding: 25px 30px 100px 30px;
    }

    // .about-me__text {
    //     display: none;
    // }

    .my-works {
        padding: 0 30px 45px 30px;
    }

    .contacts {
        padding: 0 30px 260px 30px;
    }

    .contacts__text {
        width: 553px;
        margin-bottom: 25px;
    }
}