/* Mobile first css */
body {
  font-family: custom, Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #FFFFFF;
  font-size: 17px;
  line-height: 25px;
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p {
  color: #333;
  font-size: 17px;
  line-height: 25px;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  background-color: #000000;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 25px 20px 45px 20px;
  margin: 0 auto;
}

.header__menu-button {
  align-self: flex-end;
  position: relative;
  width: 20px;
  height: 10px;
  box-sizing: border-box;
}

.header__menu-button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 1px;
  background-color: #d8d8d8;
}

.header__menu-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 1px;
  background-color: #d8d8d8;
}

.header__title {
  width: 100%;
  padding: 0;
  margin: 60px 0 40px 0;
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.1;
}

.header__blocks-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header__blocks {
  padding: 8px 18px;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #d8d8d8;
  font-size: 14px;
  border-radius: 23px;
  border: 1px solid #d8d8d8;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 25px 20px 100px 20px;
}

.about-me__text {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 600;
  color: #000000;
}

.about-me__text--desktop {
  display: none;
}

.about-me__features {
  margin-top: 55px;
}

.about-me__features-header {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
}

.about-me__features-list {
  position: relative;
  list-style: none;
  padding: 0;
  padding-bottom: 185px;
  margin: 0;
}

.about-me__features-list::before {
  content: "";
  width: 100%;
  height: 85px;
  bottom: 0;
  left: 0;
  position: absolute;
  background-image: url(../img/balancing-scooter.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px 85px;
}

.about-me__features-item {
  position: relative;
  padding: 0 0 15px 30px;
}

.about-me__features-item::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 17px;
  height: 1px;
  background-color: #333;
}

.my-works {
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px 45px 20px;
}

.my-work-header {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.14;
}

.my-works__work-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 75px;
}

.my-work__figure {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 55px 0;
  padding: 0;
}

.my-work__figure-text {
  margin-bottom: 50px;
}

.my-work__figure-img--wrapper {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.my-work__figure-img {
  width: 100%;
  height: auto;
}

.my-work__figure-img--small {
  width: 100%;
  height: auto;
}

.my-works__work-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.my-works__work-three {
  display: none;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0 auto;
}

.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px 260px 20px;
}

.contacts::before {
  content: "";
  width: 100%;
  height: 60px;
  bottom: 125px;
  left: 0;
  position: absolute;
  background-image: url(../img/cat-sleeping.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px 60px;
}

.contacts__text {
  margin-bottom: 10px;
  min-height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contacts__text p {
  text-align: center;
}

.contacts__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts__item {
  margin-bottom: 8px;
}

.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__item-link {
  color: #032cff;
  transition: 0.2s;
  text-decoration: none;
}

.contacts__item-link:hover,
.contacts__item-link:focus,
.contacts__item-link:active {
  opacity: 0.7;
}

/* Tablets */
@media (min-width: 768px) {
  body {
    font-size: 19px;
  }

  p {
    font-size: 19px;
    line-height: 1.5;
  }

  .header__wrapper {
    padding: 35px 30px 45px 30px;
  }

  .header__menu-button {
    width: 30px;
    height: 15px;
  }

  .header__menu-button::before {
    width: 30px;
    height: 2px;
  }

  .header__menu-button::after {
    width: 30px;
    height: 2px;
  }

  .about-me {
    padding: 25px 30px 100px 30px;
  }

  .my-works {
    padding: 0 30px 45px 30px;
  }

  .my-work__figure-img {
    width: 100%;
    height: auto;
  }

  .my-work__figure-img--small {
    max-width: 560px;
    height: auto;
  }

  .contacts {
    padding: 0 30px 260px 30px;
  }

  .contacts__text {
    width: 500px;
    margin-bottom: 25px;
  }
}
/* Desktops */
@media (min-width: 1024px) {
  .header__wrapper {
    min-width: 1024px;
    max-width: 1124px;
    padding: 60px 112px 70px 112px;
  }

  .header__menu-button {
    display: none;
  }

  .header__title {
    margin: 0 0 45px 0;
    font-weight: 500;
    opacity: 0.5;
  }

  .about-me__text--desktop {
    display: block;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.2;
    color: #FFFFFF;
  }

  .header__blocks {
    padding: 10px 20px;
    margin-bottom: 15px;
    margin-right: 15px;
    font-size: 16px;
    border-radius: 24px;
  }

  .about-me {
    min-width: 1024px;
    max-width: 1124px;
    padding: 35px 112px 115px 112px;
  }

  .about-me__text {
    display: none;
  }

  .about-me__features {
    margin-top: 50px;
  }

  .about-me__features-header {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.3;
  }

  .about-me__features-list {
    padding-bottom: 225px;
  }

  .about-me__features-list::before {
    height: 115px;
    background-size: 45px 115px;
  }

  .about-me__features-item {
    padding: 0 0 15px 40px;
  }

  .about-me__features-item::after {
    width: 20px;
  }

  .my-works {
    min-width: 1024px;
    max-width: 1280px;
    padding: 0 40px 75px 40px;
  }

  .my-work-header {
    width: 800px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.3;
    color: #000000;
  }

  .my-works__work-one {
    align-items: center;
    margin-bottom: 60px;
  }

  .my-work__figure-text {
    width: 800px;
    margin-bottom: 25px;
  }

  .my-work__figure-img--wrapper {
    margin-bottom: 50px;
  }

  .my-works__work-two {
    align-items: center;
  }

  .my-works__work-three {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacts {
    min-width: 1024px;
    max-width: 1280px;
    padding: 0 40px 445px 40px;
  }

  .contacts::before {
    height: 103px;
    bottom: 265px;
    background-size: 103px 103px;
  }

  .contacts__text {
    margin-bottom: 25px;
  }

  .contacts__item {
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=style.css.map */